<!DOCTYPE html>
<html>
 <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
  <h1>Hi, {{fullName}} </h1>
  <p>Your verification link is: <a href="{{FE_URL}}/auth/verify?user_id={{userId}}&code={{verification.verification_code}}">{{FE_URL}}/auth/verify?user_id={{userId}}&code={{verificationCode}}</a></p>
  <p>Please use this link to verify your registration.</p>
 </body>
</html>
